* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: #515357;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  background-color: #86878b;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 50%;
  align-self: center;
  justify-content: space-between;
  padding: 1em;
  border-radius: 5px;
  margin-top: 1em;
}

header h1 {
  color: white;
  font-size: 24px;
}

header p {
  color: white;
}

.header__btn {
  background-color: #66adf6;
  color: #32679e;
  font-weight: 900;
  border-radius: 2.5px;
  width: 120px;
  height: 30px;
  border: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4em 0 4em 0;
  margin: auto;
  gap: 2em;
}

section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.emmai {
  width: 250px;
  height: 250px;
  font-size: 16px;
  background-color: red;
  border: solid 2px white;
  padding: 0.5em;
  color: black;
  line-height: 2em;
}

.emmai ul{
    padding: 0 2em;
}
.emmai h4 {
  text-align: center;
  font-weight: 900;
}

.emmaa {
  width: 250px;
  height: 250px;
  font-size: 14px;
  background-color: skyblue;
  border: 2px solid white;
  padding: 1rem .5rem;
  color: black;
  line-height: 1.6rem;
  font-family: 'Tahoma, Geneva, Verdana, sans-serif;
}

.emmaa > h4 {
  text-align: center;
  font-weight: 800;
  margin-bottom: 1rem;
  
}

.emmaa > ul {
  padding: 0 2rem;
  
}

.emmaa > ul > li {
  font-weight: 500;
  margin-bottom: 0.5rem;
}



.eunice {
  width: 250px;
  height: 250px;
  font-size: 16px;
  background-color: pink;
  border: 2px solid white;
  padding: 0.5em 0;
  color: black;
  line-height: 2em;
}

.eunice h4 {
  text-align: center;
  font-weight: bolder;
}

.eunice ul{
  padding: 0 2em;
}

.footer__btn {
  background-color: #66adf6;
  color: white;
  font-weight: 900;
  border-radius: 2.5px;
  width: 120px;
  height: 30px;
  border: none;
}

.monica{
  width: 250px;
  height: 250px;
  font-size: 15px;
  background-color: olivedrab;
  border: solid 2px hsl(0, 0%, 50%);
  padding: 0.1em 0 0 1em;
  line-height: 2em;
}

.monica h3{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', sans-serif;
  color: black;
}

.chinedu{
  width: 250px;
  height: 250px;
  font-size: 16px;
  background-color: rgb(21, 35, 228);
  border: solid 2px rgb(238, 180, 180);
  padding: 0.5em;
  color: rgb(208, 221, 31);
  line-height: 2em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.chinedu h4{
  text-align: center;
  font-weight: 900;
}

